<div> 
<form ng-submit="send()">
<input type="text" name="chatMsg" ng-model="msgData.text" class="msg-input">
<input type="submit" name="" value="Send" class="msg-btn">
</form>
</div>
<div>
 	<ul class="message-list">
        <li ng-repeat="item in msg | startFrom:currentPage*pageSize | limitTo:pageSize track by $index" class="message">
        	<h4 class="msg-author"> {{item.author}} </h4>
        	<i class="msg-date"> {{item.createdAt | date :  "dd.MM.y  H:mm"}}</i>
            <b class="msg-text">{{item.text}}</b>
        </li>
    </ul>
    <p>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= msg.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next
    </button>
    </p>
</div>