<h2 ng-show="credits.authenticated == true"> Hi, {{credits.name + " " + credits.surname + " !"}}</h2>
<div class="main-menu">
	<ul class='menu list'> 
		<li><a ng-href="#!/registration">Регистрация </a></li>
		<li><a ng-href="#!/login">Вход в чат</a></li>
		<li><a>Статистика </a></li>
		<li ng-show="validateLoggedIn()" ng-click="logout()"><a>Выйти </a></li>
	</ul>
<div>

<div>
app version : {{version}}
</div>

<div> 
<h3> Unicorn Rainbow </h3>
<p>Shepel Dmytro - Admiral-Awesome </p>
<p>Papusha Alexander - PapikAlexander</p>
<p>Vladislav Beleckin - Vlad-kpi</p>
<p>Chikivchuk Vladislav - chykan </p>
</div>